@font-face {
    font-family: toyotadisplay_bd;
    src: url(./fonts/toyota-display/toyotadisplay_bd.eot);
    src: url(./fonts/toyota-display/toyotadisplay_bd-1.eot) format("embedded-opentype"), url(./fonts/toyota-display/toyotadisplay_bd.woff) format("woff"), url(./fonts/toyota-display/toyotadisplay_bd.ttf) format("truetype"), url(./fonts/toyota-display/toyotadisplay_bd.svg) format("svg")
}

@font-face {
    font-family: toyotadisplay_rg;
    src: url(./fonts/toyota-display/toyotadisplay_rg.eot);
    src: url(./fonts/toyota-display/toyotadisplay_rg-1.eot) format("embedded-opentype"), url(./fonts/toyota-display/toyotadisplay_rg.woff) format("woff"), url(./fonts/toyota-display/toyotadisplay_rg.ttf) format("truetype"), url(./fonts/toyota-display/toyotadisplay_rg.svg) format("svg")
}

@font-face {
    font-family: toyotaicons;
    src: url(./fonts/toyota-icon-restyle/Toyota-icon-restyle.eot);
    src: url(./fonts/toyota-icon-restyle/Toyota-icon-restyle-1.eot) format("embedded-opentype"), url(./fonts/toyota-icon-restyle/Toyota-icon-restyle.woff) format("woff"), url(./fonts/toyota-icon-restyle/Toyota-icon-restyle.ttf) format("truetype"), url(./fonts/toyota-icon-restyle/Toyota-icon-restyle.svg) format("svg")
}

@font-face {
    font-family: toyotaicons-large;
    src: url(./fonts/toyota-icon-restyle-large/Toyota-icon-restyle-large.eot);
    src: url(./fonts/toyota-icon-restyle-large/Toyota-icon-restyle-large-1.eot) format("embedded-opentype"), url(./fonts/toyota-icon-restyle-large/Toyota-icon-restyle-large.woff) format("woff"), url(./fonts/toyota-icon-restyle-large/Toyota-icon-restyle-large.ttf) format("truetype"), url(./fonts/toyota-icon-restyle-large/Toyota-icon-restyle-large.svg) format("svg")
}

@font-face {
    font-family: "T1 Body Font";
    src: url(./fonts/notosans/NotoSans.eot);
    src: url(./fonts/notosans/NotoSans-1.eot) format("embedded-opentype"), url(./fonts/notosans/NotoSans.woff) format("woff"), url(./fonts/notosans/NotoSans.bin) format("woff2"), url(./fonts/notosans/NotoSans.ttf) format("truetype"), url(./fonts/notosans/NotoSans.svg) format("svg");
    font-style: normal
}

@font-face {
    font-family: "T1 Body Font Bold";
    src: url(./fonts/notosans/NotoSans-Bold.eot);
    src: url(./fonts/notosans/NotoSans-Bold-1.eot) format("embedded-opentype"), url(./fonts/notosans/NotoSans-Bold.woff) format("woff"), url(./fonts/notosans/NotoSans-Bold.woff) format("woff2"), url(./fonts/notosans/NotoSans-Bold.ttf) format("truetype"), url(./fonts/notosans/NotoSans-Bold.svg) format("svg");
    font-style: normal
}

@font-face {
    font-family: "T1 Body Font Light";
    src: url(./fonts/notosans/NotoSans-Light.eot);
    src: url(./fonts/notosans/NotoSans-Light-1.eot) format("embedded-opentype"), url(./fonts/notosans/NotoSans-Light.woff) format("woff"), url(./fonts/notosans/NotoSans-Light.bin) format("woff2"), url(./fonts/notosans/NotoSans-Light.ttf) format("truetype")
}

@font-face {
    font-family: Toyota-icon-restyle;
    src: url(./fonts/toyota-icon-restyle/Toyota-icon-restyle-2.eot);
    src: url(./fonts/toyota-icon-restyle/Toyota-icon-restyle-2.eot) format("embedded-opentype"), url(./fonts/toyota-icon-restyle/Toyota-icon-restyle-1.ttf) format("truetype"), url(./fonts/toyota-icon-restyle/Toyota-icon-restyle-1.woff) format("woff"), url(./fonts/toyota-icon-restyle/Toyota-icon-restyle-1.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    margin: 0;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1325px;
    }
}

.slider-old {
    background: url('./images/crolla_bg.png');
    height: 360px;
    width: 100%;
    background-size: cover;
    color: #fff;
    background-position-x: right;
}

.tool {
    background-size: cover;
    width: calc(100% / 3);
    height: 310px;
    float: left;
    position: relative;
}

.free-check-up {
    background-image: url('./images/check-up.jpg');
}

.advantage-menus {
    background-image: url('./images/advantage.jpg');
    color: #fff;
}

.orginal-spare {
    background-image: url('./images/spare.jpg');
    color: #fff;
}

.forever {
    background-image: url('./images/forever.jpg');
    background-size: cover;
    width: 100%;
    height: 340px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

button.btn.btn-forever {
    color: #fff;
    border: 1px solid;
    border-radius: 30px;
    line-height: 20px;
    font-size: 14px;
    padding: 8px 30px 8px 55px;
    background-image: url("./images/forever-icon.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 6px;
}

.slider-old h3 {
    font-family: toyotadisplay_bd, sans-serif;
    font-size: 3rem;
}

.slider-old h4 {
    font-family: toyotadisplay_bd, sans-serif;
    font-size: 1.3rem;
}

.slider-old p {
    font-family: toyotadisplay_rg, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.slider-old .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tool-container {
    width: 100%;
    position: relative;
    margin-top: 60px;
    padding: 0px 70px;
    font-family: toyotadisplay_rg, sans-serif;
    font-size: 1em;
}

.tool-container b {
    display: block;
    margin-bottom: 40px;
    font-family: toyotadisplay_bd, sans-serif;
    font-size: 1.2em;
}

.tool-container p {
    height: 70px;
}

button.btn.btn-check-up {
    background: #d30018;
    border-radius: 30px;
    color: #ffff;
    font-size: 0.9rem;
    padding: 8px 30px 8px 60px;
    background-image: url("./images/checkup.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 6px;
}

button.btn.btn-advantage-menus {
    background: transparent;
    border: 1px solid;
    border-radius: 30px;
    color: #ffff;
    font-size: 0.9rem;
    padding: 8px 30px 8px 55px;
    background: url("./images/cat-tools.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 4px;
}

button.btn.btn-spare-tool {
    background: transparent;
    border: 1px solid;
    border-radius: 30px;
    color: #ffff;
    font-size: 0.9rem;
    padding: 8px 30px 8px 55px;
    background: url("./images/yedek.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 5px;
}

.forever {
    font-family: toyotadisplay_rg, sans-serif;
}

.forever .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.forever h3 {
    font-size: 2.4em;
}

.forever-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a.btn.btn-find-seller {
    background: #e20a17;
    color: #fff;
    border-radius: 30px;
    font-size: 0.8em;
    padding: 8px 20px 8px 40px;
    background-image: url("./images/pin.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 10px;
    margin-right: 20px;
}

a.btn.btn-e-broschure {
    border: 1px solid #e20a17;
    color: #e20a17;
    border-radius: 30px;
    font-size: 0.8em;
    padding: 8px 20px 8px 40px;
    margin-right: 20px;
}

a.btn.btn-new-toyota {
    background: #f0f0f0;
    color: #1a1a1a;
    border-radius: 30px;
    font-size: 0.8em;
    padding: 8px 20px 8px 40px;
}

.campaign-info {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: toyotadisplay_rg, sans-serif;
}

.campaign-info p {
    margin-top: 30px;
    font-family: toyotadisplay_rg, sans-serif;
}

.tool.passive:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(239, 239, 239, 0.7);
}

.model {
    width: calc(100% / 3);
    text-align: center;
    background-color: #f0f0f0;
    float: left;
    height: 240px;
    line-height: 240px;
}

.model img {
    width: 240px;
    max-width: 100%;
}

.model.active {
    background: #e20a17;
}

.advantage-menu-content h3 {
    font-family: toyotadisplay_bd, sans-serif;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.model-container {
    height: 240px;
    position: relative;
}

button.btn.btn-back {
    position: absolute;
    top: -20px;
    left: 20px;
    font-family: toyotadisplay_bd, sans-serif;
}

button.close-model {
    border: 0;
    background: 0;
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.model-item img {
    margin-top: 40px;
    margin-bottom: 30px;
}

span.car-title {
    font-family: toyotadisplay_bd, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 6px;
    margin-bottom: 6px;

}

span.car-year {
    font-family: toyotadisplay_bd, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.alice-carousel__prev-btn-item {
    position: absolute;
    left: -50px;
    top: 30%;
    transform: translateY(-50%);
}

.alice-carousel__next-btn-item {
    position: absolute;
    right: -50px;
    top: 30%;
    transform: translateY(-50%);
}

.model-item {
    padding: 2px;
}

.alice-carousel__prev-btn [data-area]::after {
    background: #495258;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    display: block;
    content: '<' !important;
    text-align: center;
    line-height: 30px;
}

.alice-carousel__next-btn [data-area]::after {
    background: #495258;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    display: block;
    content: '>' !important;
    text-align: center;
    line-height: 30px;
}

.alice-carousel__stage-item {
    padding-top: 20px;
}

.data {
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(100% + 60px);
    background: #d10009;
    height: 100%;
    z-index: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

button.data-button {
    background: unset;
    border: 1px solid #fff;
    margin: 9px 9px 0;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    font-size: 12px;
    border-radius: 30px;
    width: 92%;
    outline: 0;
}

button.data-button.active {
    background: #000;
    border-color: #000;
}

span.data-title {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.overlay-for-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.advantage-menu-content-heading {
    background: #f9f9f9;
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantage-menu-content-heading .pull-right {
    font-size: 13px;
    margin-top: 10px;
    font-family: toyotadisplay_rg, sans-serif;
}

.advantage-menu-content-heading h3 {
    font-weight: bold;
    font-family: toyotadisplay_bd, sans-serif;
}

span.advantage-menu-info-title {
    font-family: toyotadisplay_bd, sans-serif;
}

.advantege-menu-info-box {
    padding: 15px;
    padding-bottom: 10px;
    background: #f2f1f1;
    margin-top: 10px;
    font-family: toyotadisplay_rg, sans-serif;
    font-size: 15px;
}

.offered-selling-price {
    padding: 10px;
}

button.offered-selling-price-button {
    border: 2px solid #d10009;
    color: #d10009;
    font-size: 15px;
    border-radius: 20px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 6px;
    background: 0;
}

span.del {
    display: inline-block;
    padding-right: 10px;
    margin-right: 5px;
    position: relative;
}

span.del:after {
    content: ' ';
    position: absolute;
    right: 0px;
    top: 4px;
    height: calc(100% - 7px);
    width: 1px;
    background: #000;
}

span.del:before {
    content: ' ';
    width: 90%;
    height: 2px;
    left: 40%;
    background: #3e3e3e;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

span.money {
    font-weight: bold;
}

.info-text {
    font-weight: bold;
    font-size: 10px;
}

.info-text img {
    margin-top: -2px;
    margin-right: 5px;
    height: 13px;
}

.advantege-menu-info-box p {
    height: 120px;
}

.offered-selling-price {
    padding: 15px 10px;
}

.info-text img {
    margin-top: -2px;
    margin-right: 5px;
    height: 13px;
}

.advantege-menu-info-box p {
    height: 120px;
}

.advantage-menu-info:hover .advantege-menu-info-box {
    background: #da2e34;
    color: #fff;
}

.advantage-menu-info:hover .offered-selling-price {
    background: #000;
}

.advantage-menu-info:hover button.offered-selling-price-button {
    color: #fff;
    border-color: #fff;
}

.menu-info-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantage-menu-info {
    margin-bottom: 20px;
}

.advantage-menu-content-desc {
    font-family: toyotadisplay_rg, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.orginal-spare-info {
    background: #f1f1f1;
}

.orginal-spare-image-box {
    padding-top: 80px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 80px;
    border-bottom: 1px solid #acacac;
    text-align: center;
}

.orginal-spare-image-box img {
    height: 40px;
}

.orginal-spare-info-content {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

span.orginal-spare-info-title {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 24px;
    overflow: hidden;
}

.orginal-spare-info-content span.money {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
}

button.orginal-spare-code-button {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #d30018;
    background: 0;
    border-radius: 30px;
    color: #d30018;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
}

.orginal-spare-info-box:hover {
    color: #fff;
    background: #d30017;
}

.orginal-spare-info-box:hover
button.orginal-spare-code-button {
    color: #fff;
    background: #000;
    border-color: #000;
}

.orginal-spare-info-box:hover .orginal-spare-image-box {
    border-color: #fff;
}

.orginal-spare-info {
    background: #f1f1f1;
    margin-bottom: 30px;
}

.split-banner {
    width: 100%;
    background: url("./images/splitbanner.jpg") center right;
    background-size: cover;
    color: #fff;
    font-family: toyotadisplay_bd, sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
}

.icon-for-original img {
    height: 50px;
    margin-top: -20px;
}

.advantage-menu-info:hover .advantege-menu-info-box .icon-for-original img {
    filter: brightness(0) invert(1);
}

.advantage-menu-info:hover .advantege-menu-info-box .info-text img {
    filter: brightness(0) invert(1);
}

@media (min-width: 576px) and (max-width: 768px) {
    .slider-old {
        background-position-x: right;
    }

    .tool-container {
        padding: 10px;
        margin-top: 20px;
        font-size: 12px;
    }

    .tool-container b {
        height: 30px;
    }

    .forever {
        background-position-x: 50%;
    }

    .container {
        max-width: 100%;
    }

    .alice-carousel__prev-btn, .alice-carousel__next-btn {
        display: inline-block;
        padding: 15px 10px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        width: 92%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-old {
        background-position-x: right;
    }

    .tool-container {
        font-size: 12px;
        padding: 0 50px;
    }

    .tool-container b {
        height: 30px;
    }

    button.btn.btn-check-up {
        padding: 8px 20px 8px 50px;
    }

    .forever {
        background-position-x: 50%;
    }

    button.btn.btn-advantage-menus {
        padding-right: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {

    .tool-container b {
        height: 30px;
    }

    .tool-container p {
        height: 90px;
    }

    button.btn.btn-check-up {
        padding: 8px 20px 8px 50px;
    }

    button.btn.btn-advantage-menus {

        padding: 8px 30px 8px 50px;
    }
}

.tool-m-image {
    display: none;
    width: 100%;
}

.toyota-forever-mobil {
    display: none;
}

@media (max-width: 768px) {

    .hide-mobile {
        display: none;
    }

    .tool {
        background-size: cover;
        width: calc(100% / 2);
    }

    .forever {
        display: none;
    }

    .forever-mobil {
        display: block;
    }

    button.btn.btn-advantage-menus {
        padding: 0;
    }

    .tool-container {
        margin-top: 0;
        padding: 5px 10px 0;
    }

    .free-check-up {
        background: transparent;
    }

    .advantage-menus {
        background: transparent;
    }

    .orginal-spare {
        background: transparent;
    }

    .tool-m-image {
        display: block;
    }

    .tool-container b {
        font-size: 0.6em;
        margin-bottom: 5px;
        height: 2.5em;
    }

    .tool-container p {
        font-size: 9px;
        line-height: 10px;
    }

    button.btn.btn-check-up {
        padding: 5px 10px 5px 32px;
        font-size: 12px;
    }

    .tool-container p {
        height: 20px;
    }


    button.btn.btn-check-up {
        padding: 5px 10px 5px 35px;
        font-size: 12px;
    }

    .advantage-menus.tool {
        color: #000;
    }

    .tool {
        height: 380px;
    }

    button.btn.btn-advantage-menus {
        color: #000;
        padding: 5px 10px 5px 35px;
        font-size: 12px;
    }

    .orginal-spare.tool {
        color: #000;
    }

    button.btn.btn-spare-tool {
        color: #000;
        padding: 5px 10px 5px 35px;
        font-size: 12px;
    }

    .campaign-info {
        display: none;
    }

    .toyota-forever-mobil {
        display: block;
    }

    .model {
        width: 100%;
        line-height: 150px;
        height: 150px;
        margin-bottom: 2px;
    }

    .model img {
        height: 120px;
    }

    .slider-old {
        height: 150px;
        background-image: url("./images/m-corolla.jpg");
    }

    .slider-old h3 {
        font-size: 1.2rem;
        margin-bottom: 1px;
    }

    .slider-old h4 {
        font-size: 0.65rem;
        margin-bottom: 3px;
    }

    .slider-old p {
        font-size: 0.6rem;
        opacity: 0.8;
    }

    .slider-old .container {
        top: 54%;
    }

    .model-mobile-container .model {
        width: calc(100% / 3) !important;
        background: 0;
        opacity: 0.2;
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;
        line-height: 80px;
        padding-top: 0;
    }

    .model-mobile-container .model img {
        width: 100%;
        height: auto;
    }

    .model-mobile-container .model.active {
        opacity: 1;
    }

    .data {
        display: none;
    }

    .model-container {
        height: auto;
    }

    .split-banner {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 15px;
    }

    .advantage-menu-content-desc {
        font-size: 12px;
    }

    .advantage-menu-content-heading h3 {
        font-size: 0.7rem;
    }

    .advantage-menu-content-heading .pull-left {
        width: 40%;
    }

    .advantage-menu-content-heading .text-right {
        width: 60%;
        font-size: 9px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .advantage-menu-content-heading {
        padding-bottom: 25px;
    }

    .container.menu-info-list .col-sm-2.col-4 {
        padding: 6px;
    }

    .orginal-spare-image-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    span.orginal-spare-info-title {
        font-size: 8px;
        margin-bottom: 5px;
        height: auto;
    }

    .orginal-spare-info-content span.money {
        font-size: 10px;
    }

    .orginal-spare-info-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .info-text {
        font-size: 5px;
    }

    .orginal-spare-info {
        margin-bottom: 20px;
    }

    button.orginal-spare-code-button {
        font-size: 9px;
    }

    button.orginal-spare-code-button {
        font-size: 9px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    span.advantage-menu-info-title {
        font-size: 12px;
    }

    .advantege-menu-info-box p {
        font-size: 9px;
        height: 60px;
    }

    button.offered-selling-price-button {
        font-size: 8px;
        font-weight: bold;
        border-width: 1px;
    }

    .advantage-menu-info {
        margin-bottom: 5px;
    }

    .choose-engine {
        padding-top: 30px;
        width: 100%;
        display: block;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        margin: auto;
    }

    .seelected-engine {
        background: #000;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        font-family: toyotadisplay_bd, sans-serif;
        margin-bottom: 15px;
    }

    .icon-for-original {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .icon-for-original img {
        height: 35px;
    }

    button.btn.btn-check-up {
        background-size: 15px;
        background-position-x: 10px;
    }

    button.btn.btn-advantage-menus {
        background-image: url("./images/cat-tools-black.png");
        background-size: 20px;
        background-position-x: 10px;
    }

    button.btn.btn-spare-tool {
        background-image: url("./images/yedek-siyah.svg");
        background-size: 20px;
        background-position-x: 10px;
    }

    .orginal-spare.tool.toyota-forever-mobil button.btn.btn-spare-tool {
        background-image: url("./images/forever-icon-mobile.svg");
    }

}

@media all and (max-width: 576px) {
    .tool {
        height: 305px;
    }
}

@media all and (max-width: 425px) {
    .tool {
        height: 255px;
    }
}

@media all and (max-width: 375px) {

    .tool-container b {
        font-size: 0.5em;
    }

    button.btn.btn-advantage-menus {
        font-size: 11px;
    }

    .tool-container p {
        height: 40px;
    }

    button.btn.btn-check-up {
        padding: 5px 10px 5px 30px;
        font-size: 11px;
    }
}
